{% extends "base.html" %}  
{# Κληρονομεί το βασικό template base.html ώστε να μην χρειάζεται να επαναλαμβάνουμε το HTML boilerplate #}

{% block title %}Logged Out{% endblock %}  
{# Ο τίτλος της σελίδας που εμφανίζεται στο tab του browser #}

{% block content %}  
{# Το κύριο περιεχόμενο της σελίδας #}

<p>You are now logged out.</p>  
{# Μήνυμα ενημέρωσης για τον χρήστη ότι έχει αποσυνδεθεί επιτυχώς #}

<a href="{% url 'login' %}">Log in again</a>  
{# Σύνδεσμος για να κάνει login ξανά, χρησιμοποιώντας το Django URL name 'login' #}

{% endblock %}  
